/* ---------- Fonts ----------- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* ---------------------------- */

body {
    background: #96b8ff;
    background: radial-gradient(circle, rgba(150, 184, 255, 1) 0%, rgba(135, 177, 255, 1) 33%, rgba(217, 239, 255, 1) 70%, rgba(227, 240, 255, 1) 100%);
}

main {
    padding: 20px;  
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;   
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  height: 50px;
  line-height: 25px;
  font-size: 13px;
}